@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Ninipage</h1>
    <p>Aqui podras acceder a toda la informacion del internet.</p>
</div>
